@media only screen and (min-width:340px) and (max-width:475px) {
    h1{
        width: 180px;
        text-align: center !important;
        margin-left: 20px;
        margin-top: 30px;
        color: darkgreen;
        font-family: Arial, Helvetica, sans-serif;
    }
    #result{
        margin-left: 20px !important;
        margin-top: 60px !important;
    }
    input{
        height: 50px !important;
        width: 100px !important;
        font-size: large !important;
    }
    #FirstValue{
        margin-left: -80px;
    }
    #first{
        margin-left: -70px;
    }
    #second{
        margin-left: -70px;
    }
    #div{
        background-size: cover !important;
    }
}